<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <title>UWE Smart Learning App</title>
  </head>
  <body>
    <a href="https://newmy.uwe.ac.uk">
      <img
        src="{{ url_for('static', filename='images/uweLogo.png') }}"
        width="140vh"
        height="80vh"
      />
    </a>
    <div class="container">
      <div class="box">
        <div class="above-form">
          <h1>UWE Smart learning App</h1>
        </div>
        <form action="ITPApp" method="post">
          <label for="username">Username or email:</label><br />
          <input type="text" id="username" name="username" /><br />
          <label for="password">Password:</label><br />
          <input type="password" id="password" name="password" /><br />
          <label for="rememberMe">Remember me?</label>
          <input type="checkbox" id="rememberMe" name="rememberMe" />
          <input type="submit" value="Login" />
          <p>
            <a href="https://passwordreset.microsoftonline.com"
              >Forgot Password?</a
            >
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
