body {
  background: linear-gradient(rgb(0, 0, 0), rgb(11, 132, 145));
  color: white; 
  font-family: poppins;
    font-weight: 200;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  color: white; /* Set the text color for the box */
}

h1 {
  margin: 0;
  font-size: 2rem;
  color: white; /* Set the text color for h1 */
}

form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}

label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
  color: white; /* Set the text color for labels */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: white; /* Set the text color for input fields */
}

input[type="submit"],
input[type="button"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #3e8e41;
}

/* Added styles for Remember me and Forgot Password link */
input[type="checkbox"] {
  margin-top: 10px;
}

p {
  margin-top: 10px;
  color: white; /* Set the text color for paragraphs */
}

a {
  color: #4caf50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: white; /* Set the text color for the link on hover */
}
